<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Simple Timer</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h4>time (sec)</h4>
  <ion-row align-items-center>
    <ion-col col-3>
    </ion-col>
    <ion-col col-6>
      <div class="numberdisplay" id=content (click)="startTimer()">
        {{currentTime}}
      </div>
    </ion-col>
    <ion-col col-3>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button *ngIf="!running" (click)="startTimer()" id=button style="width: 100%;height: 70px">Start Timer</button>
        <button ion-button *ngIf="running" (click)="stopTimer()" id=button style="width: 100%;height: 70px">Stop Timer</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
